<section>
  <div class="page-header">
    <h1 ng-bind="vm.postcode.locationcode"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.postcode.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="postcodes.edit({ postcodeId: vm.postcode._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.postcode.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.postcode.user"
            ng-bind="vm.postcode.user.displayName"></span>
      <span ng-if="!vm.postcode.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.postcode.content"></p>
</section>
