<section class="header-height" ng-init="vm.readProduct()">
  <div class="page-header">
    <h1>{{vm.promotion._id ? 'Edit Promotion' : 'New Promotion'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.promotionForm" class="form-horizontal" ng-submit="vm.save(vm.form.promotionForm.$valid)" novalidate>
      <fieldset>
        <div class="row rounded container-fluid address-container-bg padding-0">
          <div class="col-xs-4 col-md-4 text-center {{state === '0'?'address-container':'address-container-bg'}}">
            <div class="margin-top-32">
              <!--<span><i class="fa fa-truck front_profile-color9"></i></span>-->
            </div>
            <div>
              <label for="">ลดเงินสด</label>
            </div>
            <div class="form-group">
              <input type="radio" name="humen" ng-model="state" ng-value="'0'">
            </div>
          </div>
          <!--{{vm.order.delivery.deliveryid === '1'?'address-container':'address-container-bg'}}-->
          <div class="col-xs-4 col-md-4 border-left text-center {{state === '1'?'address-container':'address-container-bg'}}">
            <div class="margin-top-32">
              <!--<span><i class="fa fa-envelope front_profile-color9"></i></span>-->
            </div>
            <div>
              <label for="">ลดเป็น %</label>
            </div>
            <div class="form-group">
              <input type="radio" name="post" ng-model="state" ng-value="'1'">
            </div>
          </div>
          <div class="col-xs-4 col-md-4 border-left text-center {{state === '2'?'address-container':'address-container-bg'}}">
            <div class="margin-top-32">
              <!--<span><i class="fa fa-envelope front_profile-color9"></i></span>-->
            </div>
            <div>
              <label for="">แถมสินค้า</label>
            </div>
            <div class="form-group">
              <input type="radio" name="post" ng-model="state" ng-value="'2'">
            </div>
          </div>
        </div>
        <!--product-->
        <div class="form-group" show-errors ng-repeat="items in vm.promotion.products">
          <label class="control-label" for="productid">Productid</label>
          <!--<input name="productid" type="text" ng-model="vm.promotion.productid" id="productid" class="form-control" placeholder="Productid"
            required>-->
          <select name="productid" class="form-control" ng-options="item as item.name for item in vm.products track by item._id " ng-model="items.product"
            ng-change="vm.productChanged(items.product)"></select>
          <div ng-messages="vm.form.promotionForm.productid.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Promotion productid is required.</p>
          </div>
        </div>
        <!--description-->
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <input name="description" type="text" ng-model="vm.promotion.description" id="description" class="form-control" placeholder="Description"
            required>
          <div ng-messages="vm.form.promotionForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Promotion Description is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Qty Product of Condition</label>
          <input name="condition" type="number" ng-model="vm.promotion.condition" id="condition" class="form-control" placeholder="Condition"
            required>
          <div ng-messages="vm.form.promotionForm.condition.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Promotion Condition is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="expdate">Expdate</label>
          <input name="expdate" type="date" ng-model="vm.promotion.expdate" id="expdate" class="form-control" placeholder="Expdate"
            required>
          <div ng-messages="vm.form.promotionForm.expdate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Promotion Expdate is required.</p>
          </div>
        </div>
        <!--discount bath-->
        <div class="form-group" ng-if="state === '0'">
          <label class="control-label" for="discount">Discount FixBath</label>
          <input name="fixBath" type="number" ng-model="vm.promotion.discount.fixBath" id="fixBath" class="form-control" placeholder="Discount">
        </div>
        <!--discount percen-->
        <div class="form-group" ng-if="state === '1'">
          <label class="control-label" for="percen">Discount Percen</label>
          <input name="percen" type="number" ng-model="vm.promotion.discount.percen" id="percen" class="form-control" placeholder="Percen">
        </div>
        <!--free item-->
        <div class="form-group" ng-if="state === '2'">
          <label class="control-label" for="percen">Free Item</label>
        </div>
        <div class="form-group" ng-if="state === '2'">
          <label class="control-label" for="product">Product</label>
          <select name="productid" class="form-control" ng-options="item as item.name for item in vm.products track by item._id " ng-model="vm.promotion.freeitem.product"
            ng-change="vm.freeProductChanged(vm.promotion.freeitem.product)"></select>

          <label class="control-label" for="price">Unit Price</label>
          <input name="price" type="number" ng-model="vm.promotion.freeitem.price" id="price" class="form-control" placeholder="price">

          <label class="control-label" for="qty">Qty of Free Product</label>
          <input name="qty" type="number" ng-model="vm.promotion.freeitem.qty" id="qty" class="form-control" placeholder="qty" ng-change="vm.sumbath(vm.promotion.freeitem.qty)">

          <label class="control-label" for="qty">Amount</label>
          <input name="amount" type="number" ng-model="vm.promotion.freeitem.amount" id="amount" class="form-control" placeholder="amount">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">{{vm.promotion._id ? 'บันทึกรายการ' : 'บันทึกรายการ'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>