<section ng-init="vm.Promotion(); vm.initPromotion();">
  <div class="page-header">
    <h1>ตะกร้าสินค้าของคุณ</h1>
  </div>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <!--//////web////////-->
  <div class="row hidden-xs show-sm show-md show-lg" ng-show="vm.cart.getTotalCount() !==  0">
    <div class="col-md-7">
      <div class="row">
      </div>
      <div class="row border-bottom">
        <div class="col-xs-5 col-sm-7 col-md-7">สินค้า</div>
        <div class="col-xs-2 col-sm-2 col-md-2">ราคาสินค้า</div>
        <div class="col-xs-4 col-sm-3 col-md-3">จำนวน</div>
      </div>
      <div class="row border-bottom" ng-repeat="itm in vm.cart.items">
        <div class="col-xs-5 col-sm-7 col-md-7">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 hidden-xs padding-10px">
              <img src="{{itm.product.images}}" class="img img-thumbnail img-max-min-width-height-100" alt="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 padding-10px">
              <h4>{{itm.product.name}}</h4>
              <div class="text-colorgray" ng-repeat="promotion in vm.promotions">
                <h5 ng-if="itm.product._id === promotion.product._id">{{promotion.description}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 padding-10px">
          <h4>{{itm.price}} บาท</h4>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 padding-10px">
          <h4>
            <a ng-click="vm.cart.add(itm.product); vm.initPromotion();">
              <span class="fa fa-plus" aria-hidden="true"></span>
            </a>
            {{itm.qty}}
            <a ng-click="vm.cart.remove(itm.product); vm.initPromotion();">
              <span class="fa fa-minus" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 padding-10px margin-top20px">
          <a ng-click="vm.cart.removeItem(itm.product)">
            <h2> <span class="bin-color fa fa-trash-o float-rigth " aria-hidden="true"></span></h2>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-1"> </div>
    <div class="col-md-4">
      <div class="row border-bottom">
        <div class="col-md-12">
          <h4>สรุปการสั่งซื้อ</h4>
        </div>
      </div>
      <div class="row border-bottom min-heigth-100">
        <div class="col-md-6">
          <p>มูลค่าสินค้า:</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalPrice()}} บาท</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6">
          <p>ยอดรวม</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalPrice()}} บาท</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6">
          <p>ค่าจัดส่ง:</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalDeliveryCost()}} บาท</p>
        </div>
      </div>
      <!--โปรโมชั่น-->
      <div class="row">
        <div class="col-md-6">
          <p>ส่วนลด:</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalDiscount()}} บาท</p>
        </div>
      </div>
      <!--สิ้นสุดโปรโมชั่น-->
      <div class="row ">
        <div class="col-md-6">
          <h4>ยอดสุทธิ</h4>
        </div>
        <div class="col-md-6">
          <h4>{{(vm.cart.getTotalPrice()+vm.cart.getTotalDeliveryCost()) - vm.cart.getTotalDiscount()}} บาท</h4>
        </div>
      </div>
      <div class="row" ng-hide="authentication.user || vm.cart.getTotalCount() === 0">
        <div class="col-md-12">
          <button class="btn btn-warning btn-block" ui-sref="checkout-login">ดำเนินการต่อ</button>
        </div>
      </div>
      <div class="row" ng-show="authentication.user && vm.cart.getTotalCount() !== 0">
        <div class="col-md-12">
          <button class="btn btn-warning btn-block" ui-sref="checkout-login">ดำเนินการต่อ</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="front_price1"> * สินค้านี้จัดส่งในพื้นที่เขตกรุงเทพมหานครและปริมณฑล</label>
        </div>
      </div>
    </div>
  </div>
  <!--//////Mobile////////-->
  <div class="row show-xs hidden-sm hidden-md hidden-lg" ng-show="vm.cart.getTotalCount() !==  0">
    <div class="col-md-7">
      <div class="row">
      </div>
      <!---->
      <!--<div class="row border-bottom">
        <div class="col-xs-5 col-sm-7 col-md-7">สินค้า</div>
        <div class="col-xs-2 col-sm-2 col-md-2">ราคาสินค้า</div>
        <div class="col-xs-4 col-sm-3 col-md-3">จำนวน</div>
      </div>-->
      <!---->
      <div class="row" ng-repeat="itm in vm.cart.items">
        <div class="card">
          <div class="row">
            <div class="col-xs-3 padding-1px">
              <div class="card-image">
                <img src="{{itm.product.images}}" class="img img-thumbnail img-responsive" alt="">
              </div>
            </div>
            <div class="col-xs-8">
              <div class="card-content">
                <h4>{{itm.product.name}}</h4>
                <h5>{{itm.price}} บาท</h5>
                <h2 class="pum-text-center">
                  <a ng-click="vm.cart.add(itm.product); vm.initPromotion();">
                    <span class="fa fa-plus-circle text-info" aria-hidden="true"></span>
                  </a>
                  {{itm.qty}}
                  <a ng-click="vm.cart.remove(itm.product); vm.initPromotion();">
                    <span class="fa fa-minus-circle text-danger" aria-hidden="true"></span>
                  </a>
                </h2>
              </div>
            </div>
            <div class="col-xs-1 padding-1px">
              <a ng-click="vm.cart.removeItem(itm.product)">
                <span class="glyphicon glyphicon-remove float-rigth" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!---->
      <!--<div class="row border-bottom" ng-repeat="itm in vm.cart.items">
        <div class="col-xs-5 col-sm-7 col-md-7">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 hidden-xs padding-10px">
              <img src="{{itm.product.images}}" class="img img-thumbnail img-max-min-width-height-100" alt="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 padding-10px">
              <h4>{{itm.product.description}}</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 padding-10px">
          <h4>{{itm.price}} บาท</h4>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 padding-10px">
          <h4>
            <a ng-click="vm.cart.add(itm.product)">
              <span class="fa fa-plus" aria-hidden="true"></span>
            </a>
            {{itm.qty}}
            <a ng-click="vm.cart.remove(itm.product)">
              <span class="fa fa-minus" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 padding-10px">
          <a ng-click="vm.cart.removeItem(itm.product)">
            <span class="glyphicon glyphicon-remove float-rigth" aria-hidden="true"></span>
          </a>
        </div>
      </div>-->
      <!---->
    </div>
    <div class="col-md-1"> </div>
    <div class="col-md-4">
      <div class="row border-bottom">
        <div class="col-md-12">
          <h4>สรุปการสั่งซื้อ</h4>
        </div>
      </div>
      <div class="row border-bottom min-heigth-100">
        <div class="col-md-6">
          <p>มูลค่าสินค้า:</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalPrice()}} บาท</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6">
          <p>ยอดรวม</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalPrice()}} บาท</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>ค่าจัดส่ง:</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalDeliveryCost()}} บาท</p>
        </div>
      </div>
      <!--โปรโมชั่น-->
      <div class="row">
        <div class="col-md-6">
          <p>ส่วนลด:</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalDiscount()}} บาท</p>
        </div>
      </div>
      <!--สิ้นสุดโปรโมชั่น-->
      <div class="row ">
        <div class="col-md-6">
          <h4>ยอดสุทธิ</h4>
        </div>
        <div class="col-md-6">
          <h4>{{vm.cart.getTotalPrice()+vm.cart.getTotalDeliveryCost()-vm.cart.getTotalDiscount()}} บาท</h4>
        </div>
      </div>
      <div class="row" ng-hide="authentication.user || vm.cart.getTotalCount() === 0">
        <div class="col-md-12">
          <button class="btn btn-warning btn-block" ui-sref="checkout-login">ดำเนินการต่อ</button>
        </div>
      </div>
      <div class="row" ng-show="authentication.user && vm.cart.getTotalCount() !== 0">
        <div class="col-md-12">
          <button class="btn btn-warning btn-block" ui-sref="checkout-login">ดำเนินการต่อ</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="front_price1"> * สินค้านี้จัดส่งในพื้นที่เขตกรุงเทพมหานครและปริมณฑล</label>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div ng-show="vm.cart.getTotalCount() ===  0">
    <div class="text-center margin-bottom-30 "> <label><h3> ไม่มีสินค้าในรถเข็น </h3></label>
    </div>
    <div class="text-center">
      <a class="btn btn-success " ui-sref="products.list">
        <span>เลือกซื้อสินค้าต่อ</span>
      </a>
    </div>
    <!--ไม่มีสินค้าในรถเข็น<a href="/#/products"> เลือกซื้อสินค้าต่อ-->
    </div>
  </div>
</section>