<script type="text/javascript">
  document.getElementById('loadingpdf').hidden = true;
  function exportPdf() {
    document.getElementById('loadingpdf').hidden = false;
    html2canvas(document.getElementById('pdf'), {
      onrendered: function (canvas) {
        document.getElementById('pagedisable').hidden = true;
        if (document.getElementById('loadingpdf').hidden === false) {
          if (document.getElementById('pagedisable').hidden === true) {
            //jigkoh
            //alert('html2canvas success..');
            var imgData = canvas.toDataURL("image/jpeg");
            //alert(imgData);
            var imgWidth = 210;
            var pageHeight = 295;
            var imgHeight = canvas.height * imgWidth / canvas.width;
            var heightLeft = imgHeight;
            var doc = new jsPDF('p', 'mm');
            var position = 0;

            doc.addImage(imgData, 'JPEG', 0, position, imgWidth, imgHeight);
            //alert('before save');
            heightLeft -= pageHeight;

            while (heightLeft >= 0) {
              position = heightLeft - imgHeight;
              doc.addPage();
              doc.addImage(imgData, 'JPEG', 0, position, imgWidth, imgHeight);
              heightLeft -= pageHeight;
            }
          }
        }

        if (document.getElementById('pagedisable').hidden === true) {
          if (document.getElementById('loadingpdf').hidden === false) {
            setTimeout(function () {
              document.getElementById('loadingpdf').hidden = true;
              document.getElementById('pagedisable').hidden = false;
              doc.save('รายงานขาย.pdf');
            }, 1000);
          }
        }
        //end jigkoh

        // var img = canvas.toDataURL();
        // var doc = new jsPDF();
        // doc.addImage(img, 'JPEG', 0, 0, 210, 290);
        // doc.save('รายงานขายสด.pdf');
      }
    });
  }

</script>
<div id='loadingpdf' class="page-header header-height" align="center">
    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</div>
<div id="pagedisable" class="height-5000">
    <div class="row hidden-xs hidden-sm show-md show-lg">
        <div class="col-xs-3 col-sm-3 col-md-3">
            จากวันที่ : <input type="date" class="form-control" ng-model="startDay">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            ถึงวันที่ : <input type="date" class="form-control" ng-model="endDay">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            &nbsp;<button type="button" class="btn btn-primary btn-block" ng-click="vm.getDay(startDay,endDay);hidesearch()">ค้นหา</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-right">
            <div class="pull-right">
                <button class="btn btn-success fa fa-download" data-toggle="modal" data-target="#myReport" ng-click="sendNull()"></button>
            </div>
        </div>

    </div>
    <div class="row show-xs show-sm hidden-md hidden-lg">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                จากวันที่ :
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9">
                <input type="date" class="form-control" ng-model="startDay">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                ถึงวันที่ :
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9">
                <input type="date" class="form-control" ng-model="endDay">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="button" class="btn btn-primary btn-block" ng-click="vm.getDay(startDay,endDay)">ค้นหา</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                <button class="btn btn-success  btn-block" data-toggle="modal" data-target="#myReport" ng-click="sendNull()">ดูข้อมูลรายงาน</button>
            </div>
        </div>
    </div>
    <div ng-include="'/modules/orders/client/views/chart/salereport-chart.html'"></div>
    <div ng-include="'modules/orders/client/views/tablereport.html'"></div>
</div>