<section class="header-height">
  <div class="page-header hidden-xs show-sm show-md show-lg">
    <!--<div class="pull-right" ng-show="(vm.authentication.user.roles[0] == 'admin') || (vm.order.isCurrentUserOwner && !vm.order.namedeliver.displayName && (!vm.order.deliverystatus || !vm.order.deliverystatus === 'accept' || !vm.order.deliverystatus === 'reject'))">
      <a class="btn btn-primary" ui-sref="orders.edit({ orderId: vm.order._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>-->
    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="ibox-content p-xl">
            <div class="row">
              <div class="col-sm-6">
                <!--<h5>From:</h5>
                <address>
                  <strong>Cyber Advance System And Network Co.,Ltd</strong>
                  <p> 55/7 ม.11 ถ.วงแหวน-ลำลูกกา ต.บึงคำพร้อย อ.ลำลูกกา ปทุมธานี 12150<br>
                    <abbr title="Phone">Tel:</abbr> 02-150-2016 <abbr title="Fax">Fax:</abbr> 02-150-2016 <br>
                    <strong ng-show="vm.order.namedeliver.displayName">Deliver  : {{vm.order.namedeliver.displayName}}</strong>
                    <strong ng-show="vm.order.delivery.deliveryid === '1'">Deliver  : Post Office</strong>
                </address>-->
                <h5>ผู้รับ:</h5>
                <address>
                  <strong>{{vm.order.shipping.firstname + ' '+ vm.order.shipping.lastname }}</strong><br>
                  <strong>{{vm.order.shipping.address}}</strong>
                  <strong>{{vm.order.shipping.subdistrict}} {{vm.order.shipping.district}}</strong>
                  <strong>{{vm.order.shipping.province}} {{vm.order.shipping.postcode}}</strong><br>
                  <abbr title="Tel">Tel:</abbr>{{vm.order.shipping.tel}}<br>
                  <abbr title="Email">Email:</abbr>{{vm.order.shipping.email}}
                </address>
              </div>

              <div class="col-sm-6 text-right">
                <h1 ng-bind="vm.order.docno"></h1>
                <p>
                  <span ng-bind="vm.order.docdate | date:'dd/MM/yyyy'"><strong> วันที่ :</strong></span><br>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <!--<h5>To:</h5>
                <address>
                  <strong>{{vm.order.shipping.firstname + ' '+ vm.order.shipping.lastname }}</strong><br>
                  <strong>{{vm.order.shipping.address}}</strong>
                  <strong>{{vm.order.shipping.subdistrict}} {{vm.order.shipping.district}}</strong>
                  <strong>{{vm.order.shipping.province}} {{vm.order.shipping.postcode}}</strong><br>
                  <abbr title="Tel">Tel:</abbr>{{vm.order.shipping.tel}}<br>
                  <abbr title="Email">Email:</abbr>{{vm.order.shipping.email}}
                </address>-->
              </div>
              <div class="col-sm-6 text-right">
              </div>
            </div>
            <div class="row form-group alert alert-success">
              <div class="col-sm-3 col-md-3">
                <strong>ชื่อสินค้า</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <strong>ราคา/ชิ้น</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <strong>จำนวน</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <strong>รวม</strong>
              </div>
            </div>
            <div class="row form-group" ng-repeat="order in vm.order.items" ui-sref="order.view({ orderId: order._id })">
              <div class="col-sm-3 col-md-3">
                <strong>{{order.product.name}}</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <small>{{order.product.price}}</small>
              </div>
              <div class="col-sm-3 col-md-3">
                <p>{{order.qty}}</p>
              </div>
              <div class="col-sm-3 col-md-3">
                <p>{{order.amount}}</p>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-xs-11 textRight ">
                  <strong>รวม</strong>
                </div>
                <div class="col-xs-1 textRight">
                  {{vm.order.amount | number:2}}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-11 textRight ">
                  <strong>ค่าจัดส่ง</strong>
                </div>
                <div class="col-xs-1 textRight">
                  {{vm.order.deliveryamount | number:2}}
                </div>
              </div>
              <div class="row">
                <div ng-show="vm.order.discountpromotion > 0">
                  <div class="col-xs-11 textRight">
                    <strong>ส่วนลดจากโปรโมชั่น</strong>
                  </div>
                  <div class="col-xs-1 textRight">
                    {{vm.order.discountpromotion | number:2}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-11 textRight" ng-show="vm.order.totalamount > 0">
                  <strong>รวมสุทธิ</strong>
                </div>
                <div class="col-xs-1 textRight">
                  {{vm.order.totalamount | number:2}}
                </div>
              </div>
              <div class="row" ng-show="vm.order.remark">
                <div class="col-xs-1 textRight">
                  หมายเหตุ
                </div>
                <div class="col-xs-11">
                  {{vm.order.remark}}
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <div ng-show="vm.authentication.user.roles[0] == 'deliver'">
                <button class="form-control btn btn-block buttonBlackForm" ui-sref="assignlist">ย้อนกลับ</button>
              </div>
            </div>
            <div class="col-xs-5">
            </div>
            <!--<div class="col-xs-2" ng-show="vm.order.deliverystatus === 'wait deliver'">
              <button class="form-control btn btn-block buttonGreenForm" ng-click="vm.acceptOrder()" ui-sref="assignlist">ยอมรับ</button>

            </div>
            <div class="col-xs-2" ng-show="vm.order.deliverystatus === 'wait deliver'">
              <button class="form-control btn btn-block buttonRedForm" ng-click="vm.rejectOrder()" ui-sref="assignlist">ปฏิเสธ</button>
            </div>-->
            <div class="col-xs-4" ng-if="vm.order.deliverystatus !== 'accept' && vm.order.deliverystatus !== 'complete'">
              <button class="form-control btn btn-block buttonGreenForm" ng-click="vm.acceptOrder()" ui-sref="assignlist">ยอมรับ</button>

            </div>
            <div class="col-xs-2" ng-if="vm.order.deliverystatus === 'accept'">
              <button class="form-control btn btn-block buttonRedForm" ng-click="vm.rejectOrder()" ui-sref="assignlist">ปฏิเสธ</button>
            </div>
            <div class="col-xs-2" ng-show="vm.order.deliverystatus === 'accept'">
            </div>
            <div class="col-xs-2" ng-show="vm.order.deliverystatus === 'accept'">
              <button class="form-control btn btn-block buttonSkyForm" ng-click="vm.complete()" ui-sref="assignlist">สำเร็จ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-header show-xs hidden-sm hidden-md hidden-lg">
    <!--<div class="pull-right" ng-show="vm.order.isCurrentUserOwner">
      <a class="btn btn-primary" ui-sref="orders.edit({ orderId: vm.order._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>-->

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 text-right">
            <h1 ng-bind="vm.order.docno"></h1>
            <p>
              <span ng-bind="vm.order.docdate | date:'dd/MM/yyyy'"><strong> Date :</strong></span><br>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h5>ผู้รับ:</h5>
            <address>
              <strong>{{vm.order.shipping.firstname + ' '+ vm.order.shipping.lastname }}</strong><br>
              <strong>{{vm.order.shipping.address}}</strong>
              <strong>{{vm.order.shipping.subdistrict}} {{vm.order.shipping.district}}</strong>
              <strong>{{vm.order.shipping.province}} {{vm.order.shipping.postcode}}</strong><br>
              <abbr title="Tel">Tel:</abbr>{{vm.order.shipping.tel}}<br>
              <abbr title="Email">Email:</abbr>{{vm.order.shipping.email}}
            </address>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg alert alert-success">
          <div class="col-md-12 text-center">
            <strong>สินค้าทั้งหมด</strong>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg" ng-repeat="order in vm.order.items" ui-sref="order.view({ orderId: order._id })">
          <div class="col-md-12">
            <div class="row">
              <div class="list-group">
                <div class="list-group-item list-group-item-action">
                  <div class="col-sm-4 col-md-4">
                    <strong>ชื่อสินค้า : </strong> <abbr>{{order.product.name}}</abbr>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div class="row">
                      <div class="col-sm-6">
                        <p>ราคา/ชิ้น : {{order.product.price | number:2}}</p>
                      </div>
                      <div class="col-sm-6">
                        <p>จำนวน : {{order.qty}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <label>รวม : {{order.amount | number:2}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg">
          <div class="col-xs-9 textRight">
            <strong>รวม</strong>
          </div>
          <div class="col-xs-3">
            {{vm.order.amount | number:2}}
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg">
          <div class="col-xs-9 textRight">
            <strong>ค่าจัดส่ง</strong>
          </div>
          <div class="col-xs-3">
            {{vm.order.deliveryamount | number:2}}
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg">
          <div ng-show="vm.order.discountpromotion > 0">
            <div class="col-xs-9 textRight">
              <strong>ส่วนลดจากโปรโมชั่น</strong>
            </div>
            <div class="col-xs-3">
              {{vm.order.discountpromotion | number:2}}
            </div>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg">
          <div class="col-xs-9 textRight" ng-show="vm.order.totalamount > 0">
            <strong>รวมสุทธิ</strong>
          </div>
          <div class="col-xs-3">
            {{vm.order.totalamount | number:2}}
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg marginT">
          <div class="col-xs-8">
            <div ng-show="vm.authentication.user.roles[0]=='deliver' ">
              <button type="button " class="btn buttonBlackForm " ui-sref="assignlist "><span class="glyphicon glyphicon-chevron-left"></span></button>
            </div>
          </div>
          <div class="col-xs-2" ng-show="vm.order.deliverystatus==='wait deliver' ">
          </div>
          <div class="col-xs-2 " ng-show="vm.order.deliverystatus==='wait deliver' ">
            <button type="button " class="btn buttonGreenForm " ng-click="vm.acceptOrder() " ui-sref="assignlist"><span class="glyphicon glyphicon-ok"></span></button>
          </div>
          <div class="col-xs-2 " ng-show="vm.order.deliverystatus==='accept' ">
            <button type="button " class="btn buttonRedForm " ng-click="vm.rejectOrder() " ui-sref="assignlist"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <div class="col-xs-2" ng-show="vm.order.deliverystatus==='accept' ">
          </div>
          <div class="col-xs-2" ng-show="vm.order.deliverystatus==='accept' ">
            <button type="button " class="btn buttonSkyForm " ng-click="vm.complete() " ui-sref="assignlist"><span class="glyphicon glyphicon-ok"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>