<section>
  <!--<div class="row">
    <div class="col-sm-12 col-md-4">
    </div>
  </div>-->
  <div class="row">
   
<div class="col-sm-4" >
<img class="card-img-top img-rounded " src="/modules/products/client/img/products/no_product.png" style="width:100%"/>
</div>
<div class="col-sm-4"  >
<p class="card-text ">{{vm.product.description}}</p>

<hr>
<label>เลือกจากตัวที่เลือก</label><br>
<img class="card-img-top img-rounded " src="/modules/products/client/img/products/no_product.png" style="width:25%"/>
<img class="card-img-top img-rounded " src="/modules/products/client/img/products/no_product.png" style="width:25%"/>
<img class="card-img-top img-rounded " src="/modules/products/client/img/products/no_product.png" style="width:25%"/>
<hr>
<h6 class="card-subtitle text-muted">{{vm.product.price}} <strong>บาท</strong></h6>
<button type="button" class="btn btn-warning ">ใส่ตะกร้า</button>

 
</div>

</div>
</section>