<section class="header-height">
  <div class="page-header">
    <h1>รายการใบแจ้งหนี้</h1>
  </div>

  <div class="row show-xs show-sm hidden-md hidden-lg marginT">
    <div class="col-xs-12">
      <input type="text" class="form-control" placeholder="ค้นหา... (อย่างน้อย 5 ตัวอักษร)" ng-model="topsearch" ng-change="filter(topsearch)">
    </div>
    <!--<div class="col-xs-4">
      <a class="btn buttonCreate" ui-sref="accuralreceipts.create">
        <span>สร้างใหม่</span>
      </a>
    </div>-->
  </div>

  <div class="tab-content">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6 hidden-xs hidden-sm show-md show-lg">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="ค้นหา... (อย่างน้อย 5 ตัวอักษร)" ng-model="topsearch" ng-change="filter(topsearch)"
            aria-describedby="sizing-addon3">
        </div>
      </div>
      <!--<div class="col-md-2 hidden-xs hidden-sm show-md show-lg">
        <div class="textCenter">
          <a class="btn buttonCreate" ui-sref="accuralreceipts.create">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <span>สร้างใหม่</span>
          </a>
        </div>
      </div>-->
    </div>
    <div class="tab-pane active" id="allActive">
      <div class="tabbable tabs-left">
        <div class="row">
          <div class="col-md-1 hidden-xs hidden-sm show-md show-lg">
            <div class="nav">
              <a href="#waitconfirmed" data-toggle="tab"><button ng-click="vm.setLimit();setTabBlueSky='buttonBlueSkySet';setTabPurple='';setTabDarkblue=''" class="thumbnail button buttonBlueSky" ng-class="setTabBlueSky" type="text"><span>รอยืนยัน</span><h3>{{listwaitcomfirmed.length || 0}}</h3></button></a>
              <a href="#confirmed" data-toggle="tab"><button ng-click="vm.setLimit();setTabPurple='buttonPurpleSet';setTabBlueSky='';setTabDarkblue=''" class="thumbnail button buttonPurple" ng-class="setTabPurple" type="text"><span>ยืนยันแล้ว</span><h3>{{listconfirmed.length || 0}}</h3></button></a>
              <a href="#receipt" data-toggle="tab"><button ng-click="vm.setLimit();setTabDarkblue='buttonDarkblueSet';setTabBlueSky='';setTabPurple=''" class="thumbnail button buttonDarkblue" ng-class="setTabDarkblue" type="text"><span>รับเงินแล้ว</span><h3>{{listreceipt.length || 0}}</h3></button></a>
            </div>
          </div>
          <div class="row show-xs show-sm hidden-md hidden-lg marginT">
            <!--<div class="col-xs-3">
              <a href="#waitreviewmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonGreen">รอตรวจสอบ</button></a>
            </div>-->
            <div class="col-xs-12">
              <div class="textCenter">
                <span>
              <a href="#waitconfirmedmb" data-toggle="tab"><button ng-click="vm.setLimit();setTabBlueSky='buttonBlueSkySet';setTabPurple='';setTabDarkblue=''" class="btn btn-md tabMB buttonBlueSky" ng-class="setTabBlueSky" type="text">รอยืนยัน</button></a>
              </span>
                <span>
              <a href="#confirmedmb" data-toggle="tab"><button ng-click="vm.setLimit();setTabPurple='buttonPurpleSet';setTabBlueSky='';setTabDarkblue=''" class="btn btn-md tabMB buttonPurple" ng-class="setTabPurple" type="text">ยืนยันแล้ว</button></a>
              </span>
                <span>
              <a href="#receiptmb" data-toggle="tab"><button ng-click="vm.setLimit();setTabDarkblue='buttonDarkblueSet';setTabBlueSky='';setTabPurple=''" class="btn btn-md tabMB buttonDarkblue" ng-class="setTabDarkblue" type="text">รับเงินแล้ว</button></a>
              </span>
              </div>
            </div>
          </div>

          <!---->
          <div class="col-md-11 hidden-xs hidden-sm show-md show-lg">
            <!--tap-->
            <div class="tab-content">
              <div class="tab-pane" id="waitreview">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <strong>วันที่สร้าง</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:filterText | filter:vm.listwaitreview as listwaitreview"
                  ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                  <div class="col-md-12">

                    <div class="row form-group">
                      <div class="col-xs-2 col-sm-2 col-md-2">
                        <p class="list-group-item-heading" ng-bind="data.docno"></p>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2">
                        <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <p class="list-group-item-heading dotpyRank" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1">
                        <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                      </div>
                      <div class="col-xs-3 col-sm-3 col-md-3">
                        <p>
                          <time am-time-ago="data.created"></time>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane active" id="waitconfirmed">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>ยืนยัน</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:filterText | filter:vm.listwaitcomfirmed as listwaitcomfirmed">
                  <div class="col-md-12">

                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <p class="list-group-item-heading dotpyForm" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1">
                        <button type="button" class="btn buttonGreenForm" ng-click="vm.statusWaitconfirmed(data)"><span class="glyphicon glyphicon-check"></span></button>
                      </div>
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p>
                            <time am-time-ago="data.created"></time>
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="confirmed">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:filterText | filter:vm.listconfirmed as listconfirmed">
                  <div class="col-md-12">

                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <p class="list-group-item-heading dotpyRank" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p>
                            <time am-time-ago="data.created"></time>
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="receipt">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ลิงค์การโอน</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:filterText | filter:vm.listreceipt as listreceipt">
                  <div class="col-md-12">

                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading dotpy" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p>
                            <time am-time-ago="data.created"></time>
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2" ng-show="data.attm">
                        <a href="{{data.attm}}" target="_blank"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-new-window"></span></button></a>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2" ng-show="!data.attm">
                        <p>-</p>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row show-xs show-sm hidden-md hidden-lg">
            <div class="tab-content">
              <div class="tab-pane " id="waitreviewmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:filterText | filter:vm.listwaitreview as listwaitreview"
                  ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                  <!--<div class="list-group">-->
                  <!--<a href="#" class="list-group-item list-group-item-action">-->
                  <div class="row">

                    <div class="col-xs-3 col-sm-3 col-md-3">
                      <img src="{{data.namedeliver.profileImageURL}}" width="50px;">
                      <img width="10px;">
                    </div>

                  </div>
                  <div>
                    <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                  </div>

                  <div>
                    <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                  </div>
                  <div>
                    <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                  </div>
                  <!--</a>-->
                  <!--</div>-->
                </div>
              </div>
              <div class="tab-pane active" id="waitconfirmedmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:filterText | filter:vm.listwaitcomfirmed as listwaitcomfirmed">
                  <!--<div class="list-group">-->
                  <!--<a href="#" class="list-group-item list-group-item-action">-->
                  <div class="row marginT" ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                    <div class="col-xs-2 col-sm-2 col-md-2 marginT10">
                      <img src="{{data.namedeliver.profileImageURL}}" class="img-circle3" width="50px;">
                      <!--<img width="10px;">-->
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div>
                        <label class="list-group-item-heading" ng-bind="data.docno"></label>
                      </div>
                      <div>
                        <label ng-bind="data.namedeliver.displayName"></label>
                      </div>
                      <div>
                        <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" align="right">
                      <div>
                        <span>
                          <time am-time-ago="data.created"></time>
                        </span>
                      </div>
                      <div>
                        <label>
                          {{data.totalamount | number:2 || 0}} ฿
                        </label>
                      </div>
                      <div>

                      </div>

                    </div>
                  </div>

                  <div class="list-group-item-heading textRight">
                    <button type="button" class="btn buttonGreenForm" ng-click="vm.statusWaitconfirmed(data)">
                      <!--<span class="glyphicon glyphicon-check"></span>--> ยืนยัน
                      </button>
                    <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="fa fa-file-text-o"></span></button>
                  </div>

                  <div class="borderBTMT"></div>
                  <!--</a>-->
                  <!--</div>-->
                </div>
              </div>
              <div class="tab-pane" id="confirmedmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:filterText | filter:vm.listconfirmed as listconfirmed">
                  <!--<div class="list-group">-->
                  <!--<a href="#" class="list-group-item list-group-item-action">-->
                  <div class="row marginT" ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                    <div class="col-xs-2 col-sm-2 col-md-2 marginT10">
                      <img src="{{data.namedeliver.profileImageURL}}" class="img-circle3" width="50px;">
                      <!--<img width="10px;">-->
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div>
                      <label class="list-group-item-heading" ng-bind="data.docno"></label>
                    </div>
                      <div>
                        <label ng-bind="data.namedeliver.displayName"></label>
                      </div>
                      <div>
                        <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" align="right">
                      <div>
                        <span>
                          <time am-time-ago="data.created"></time>
                        </span>
                      </div>
                      <div>
                        <label>
                          {{data.totalamount | number:2 || 0}} ฿
                        </label>
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item-heading textRight">
                    <!--<button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>-->
                    <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="fa fa-file-text-o"></span></button>
                  </div>
                  <!--</a>-->
                  <!--</div>-->
                  <div class="borderBTMT"></div>
                </div>
              </div>
              <div class="tab-pane" id="receiptmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:filterText | filter:vm.listreceipt as listreceipt">
                  <!--<div class="list-group">-->
                  <!--<a href="#" class="list-group-item list-group-item-action">-->
                  <div class="row marginT" ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                    <div class="col-xs-2 col-sm-2 col-md-2 marginT10">
                      <img src="{{data.namedeliver.profileImageURL}}" class="img-circle3" width="50px;">
                      <!--<img width="10px;">-->
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div>
                          <label class="list-group-item-heading" ng-bind="data.docno"></label>
                        </div>
                      <div>
                        <label ng-bind="data.namedeliver.displayName"></label>
                      </div>
                      <div>
                        <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" align="right">
                      <div>
                        <span>
                          <time am-time-ago="data.created"></time>
                        </span>
                      </div>
                      <div>
                        <label>
                          {{data.totalamount | number:2 || 0}} ฿
                        </label>
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                  <!--</a>-->
                  <div class="list-group-item-heading textRight">
                    <a ng-show="data.attm" href="{{data.attm}}" target="_blank"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-new-window"></span></button></a>
                    <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="fa fa-file-text-o"></span></button>
                  </div>
                  <!--</div>-->
                  <div class="borderBTMT"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>