<script type="text/javascript">
  function exportPdf() {
    html2canvas(document.getElementById('pdf'), {
      onrendered: function (canvas) {
        //jigkoh
        //alert('html2canvas success..');
        var imgData = canvas.toDataURL("image/jpeg");
        //alert(imgData);
        var imgWidth = 210;
        var pageHeight = 295;
        var imgHeight = canvas.height * imgWidth / canvas.width;
        var heightLeft = imgHeight;
        var doc = new jsPDF('p', 'mm');
        var position = 0;
        doc.addImage(imgData, 'JPEG', 0, position, imgWidth, imgHeight);
        //alert('before save');
        heightLeft -= pageHeight;
        while (heightLeft >= 0) {
          position = heightLeft - imgHeight;
          doc.addPage();
          doc.addImage(imgData, 'JPEG', 0, position, imgWidth, imgHeight);
          heightLeft -= pageHeight;
        }
        doc.save('ใบแจ้งหนี้.pdf');
        //end jigkoh
      }
    });
  }
</script>
<section class="header-height show-xs hidden-sm hidden-md hidden-lg">
  <!--<div class="page-header hidden-xs show-sm show-md show-lg">
    <div class="pull-right">
      <a href="javascript:exportPdf()"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button></a>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="ibox-content p-xl">
            <div class="row">
              <div class="col-sm-6">
                <h5>ผู้รับ:</h5>
                <address>
                  <strong>{{vm.accuralreceipt.shipping.firstname + ' '+ vm.accuralreceipt.shipping.lastname }}</strong><br>
                  <strong>{{vm.accuralreceipt.shipping.address}}</strong>
                  <strong>{{vm.accuralreceipt.shipping.subdistrict}} {{vm.accuralreceipt.shipping.district}}</strong>
                  <strong>{{vm.accuralreceipt.shipping.province}} {{vm.accuralreceipt.shipping.postcode}}</strong><br>
                  <abbr title="Tel">Tel:</abbr>{{vm.accuralreceipt.shipping.tel}}<br>
                  <abbr title="Email">Email:</abbr>{{vm.accuralreceipt.shipping.email}}
                </address>
              </div>

              <div class="col-sm-6 text-right">
                <h1 ng-bind="vm.accuralreceipt.docno"></h1>
                <p>
                  <span ng-bind="vm.accuralreceipt.docdate | date:'dd/MM/yyyy'"><strong> วันที่ :</strong></span><br>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6 text-right">
              </div>
            </div>
            <div class="row form-group alert alert-success">
              <div class="col-sm-3 col-md-3">
                <strong>ชื่อสินค้า</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <strong>ราคา/ชิ้น</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <strong>จำนวน</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <strong>รวม</strong>
              </div>
            </div>
            <div class="row form-group" ng-repeat="accuralreceipt in vm.accuralreceipt.items" ui-sref="requestorders.view({ orderId: accuralreceipt._id })">
              <div class="col-sm-3 col-md-3">
                <strong>{{accuralreceipt.product.name}}</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <small>{{accuralreceipt.product.retailerprice}}</small>
              </div>
              <div class="col-sm-3 col-md-3">
                <p>{{accuralreceipt.qty}}</p>
              </div>
              <div class="col-sm-3 col-md-3">
                <p>{{accuralreceipt.amount}}</p>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div ng-show="vm.accuralreceipt.discountpromotion > 0">
                  <div class="col-xs-11 textRight">
                    <strong>ส่วนลดจากโปรโมชั่น</strong>
                  </div>
                  <div class="col-xs-1 textRight">
                    {{vm.accuralreceipt.discountpromotion | number:2}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-11 textRight" ng-show="vm.accuralreceipt.totalamount > 0">
                  <strong>รวมสุทธิ</strong>
                </div>
                <div class="col-xs-1 textRight">
                  {{vm.accuralreceipt.totalamount | number:2}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <div ng-show="vm.authentication.user.roles[0] == 'deliver'">
                <button class="form-control btn btn-block buttonBlackForm" ui-sref="assignlist">ย้อนกลับ</button>
              </div>
            </div>
            <div class="col-xs-5">
            </div>
            <div class="col-xs-2" ng-show="vm.accuralreceipt.deliverystatus === 'wait deliver'">
              <button class="form-control btn btn-block buttonGreenForm" ng-click="vm.acceptOrder()" ui-sref="assignlist">ยอมรับ</button>

            </div>
            <div class="col-xs-2" ng-show="vm.accuralreceipt.deliverystatus === 'wait deliver'">
              <button class="form-control btn btn-block buttonRedForm" ng-click="vm.rejectOrder()" ui-sref="assignlist">ปฏิเสธ</button>
            </div>
            <div class="col-xs-2" ng-show="vm.accuralreceipt.deliverystatus === 'accept'">
            </div>
            <div class="col-xs-2" ng-show="vm.accuralreceipt.deliverystatus === 'accept'">
              <button class="form-control btn btn-block buttonSkyForm" ng-click="vm.complete()" ui-sref="assignlist">สำเร็จ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="page-header show-xs hidden-sm hidden-md hidden-lg">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 text-right">
            <h1 ng-bind="vm.accuralreceipt.docno"></h1>
            <p>
              <span ng-bind="vm.accuralreceipt.docdate | date:'dd/MM/yyyy'"><strong> Date :</strong></span><br>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h5>ผู้รับ:</h5>
            <address>
              <strong>{{vm.accuralreceipt.namedeliver.firstName + ' '+ vm.accuralreceipt.namedeliver.lastName }}</strong><br>
              <strong>{{vm.accuralreceipt.namedeliver.address.address}}</strong>
              <strong>{{vm.accuralreceipt.namedeliver.address.subdistrict}} {{vm.accuralreceipt.namedeliver.address.district}}</strong>
              <strong>{{vm.accuralreceipt.namedeliver.address.province}} {{vm.accuralreceipt.namedeliver.address.postcode}}</strong><br>
              <abbr title="Tel">Tel:</abbr>{{vm.accuralreceipt.namedeliver.address.tel}}<br>
              <abbr title="Email">Email:</abbr>{{vm.accuralreceipt.namedeliver.email}}
            </address>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg alert alert-success">
          <div class="col-md-12 text-center">
            <strong>สินค้าทั้งหมด</strong>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg" ng-repeat="accuralreceipt in vm.accuralreceipt.items" ui-sref="requestorders.view({ orderId: accuralreceipt._id })">
          <div class="col-md-12" ng-repeat="ar in accuralreceipt.items">
            <div class="row">
              <div class="list-group">
                <div class="list-group-item list-group-item-action">
                  <div class="col-sm-4 col-md-4">
                    <strong>ชื่อสินค้า : </strong>
                    <p class="dotpyForm">{{ar.product.name}}</p>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div class="row">
                      <div class="col-sm-6">
                        <p>จำนวน : {{ar.qty}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <p>จำนวนเงิน : {{ar.product.retailerprice}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg alert alert-success" ng-show="vm.accuralreceipt.adjustments">
          <div class="col-md-12 text-center">
            <strong>รายการปรับปรุง</strong>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg" ng-repeat="ad in vm.accuralreceipt.adjustments" ui-sref="requestorders.view({ orderId: accuralreceipt._id })">
          <div class="col-md-12">
            <div class="row">
              <div class="list-group">
                <div class="list-group-item list-group-item-action">
                  <div class="col-sm-4 col-md-4">
                    <p class="dotpyForm">รายการ : {{ad.paid.typepaid}}</p>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div class="row">
                      <div class="col-sm-6">
                        <p>จำนวนเงิน : {{ad.paid.total}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg" ng-show="vm.accuralreceipt.adjustments.length > 0">
          <div class="col-xs-9 textRight" ng-show="vm.accuralreceipt.billamount > 0">
            <strong>รวม</strong>
          </div>
          <div class="col-xs-3">
            {{vm.accuralreceipt.billamount | number:2}}
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg" ng-show="vm.accuralreceipt.adjustamount > 0">
          <div class="col-xs-9 textRight">
            <strong>รวมรายการปรับปรุง</strong>
          </div>
          <div class="col-xs-3">
            {{vm.accuralreceipt.adjustamount | number:2}}
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg" ng-show="vm.accuralreceipt.totalamount > 0">
          <div class="col-xs-9 textRight">
            <strong>รวมสุทธิ</strong>
          </div>
          <div class="col-xs-3">
            {{vm.accuralreceipt.totalamount | number:2}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="header-height hidden-xs show-sm show-md show-lg">
  <div class="page-header">
    <div class="page-header hidden-xs show-sm show-md show-lg">
      <div class="pull-right">
        <a href="javascript:exportPdf()"><button type="button" class="btn btn-success btn-outline btn-block"><span>Export To PDF</span></button></a>
      </div>
      <div>
        <div class="row" id="pdf">
          <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
              <div class="ibox-content p-xl">
                <div class="row">
                  <div class="col-sm-6">
                    <h5>ผู้ส่ง:</h5>
                    <address>
                      <strong>บริษัท ธรรมธุรกิจ เทรดดิ้ง จำกัด</strong>
                      <br>11 ซอยพระรามเก้า 60 (ซอย 6 เสรี 8)เขตสวนหลวง กรุงเทพมหานคร 10250<br> เลขประจำตัวผู้เสียภาษี 605548000157
                      <!--<abbr title="Phone">Tel:</abbr> 02-150-2016 <abbr title="Fax">Fax:</abbr> 02-150-2016-->
                    </address>
                  </div>

                  <div class="col-sm-6 text-right">
                    <h1>ใบแจ้งหนี้</h1>
                    <h1 ng-bind="vm.accuralreceipt.docno"></h1>
                    <p>
                      <span ng-bind="vm.accuralreceipt.docdate | date:'dd/MM/yyyy'"><strong> Date :</strong></span><br>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <span>ผู้รับ:</span>
                    <address>
                      <strong>{{vm.accuralreceipt.namedeliver.firstName + ' '+ vm.accuralreceipt.namedeliver.lastName }}</strong><br>
                      <strong>{{vm.accuralreceipt.namedeliver.address.address}}</strong>
                      <strong>{{vm.accuralreceipt.namedeliver.address.subdistrict}} {{vm.accuralreceipt.namedeliver.address.district}}</strong>
                      <strong>{{vm.accuralreceipt.namedeliver.address.province}} {{vm.accuralreceipt.namedeliver.address.postcode}}</strong><br>
                      <abbr title="Tel">Tel:</abbr>{{vm.accuralreceipt.namedeliver.address.tel}}<br>
                      <abbr title="Email">Email:</abbr>{{vm.accuralreceipt.namedeliver.email}}
                    </address>
                  </div>
                  <div class="col-sm-6 text-right">
                  </div>
                </div>
                <div class="table-responsive m-t">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ลำดับ</th>
                        <th width="490px">รายการ</th>
                        <th class="text-right">จำนวน</th>
                        <th class="text-right">ราคา/หน่วย</th>
                        <th class="text-right">จำนวนเงิน</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="accuralreceipt in vm.accuralreceipt.items">
                      <tr ng-repeat="ar in accuralreceipt.items" ui-sref="accuralreceipt.view({ accuralreceiptId: accuralreceipt._id })" ng-init="number = countInit()">
                        <td><strong>{{number +1}}</strong></td>
                        <td>
                          <div><strong>{{ar.product.name}}</strong><span> (ใบสั่งซื้อเลขที่ : {{accuralreceipt.docno}})</span></div>
                          <!--<small>{{accuralreceipt.product.description}}</small>-->
                        </td>
                        <td class="text-right">{{ar.qty}}</td>
                        <td class="text-right">{{ar.product.retailerprice | number:2}}</td>
                        <td class="text-right">{{ar.product.retailerprice * ar.qty | number:2}}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="table-responsive m-t" ng-show="vm.accuralreceipt.adjustments.length > 0">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ลำดับ</th>
                        <th>รายการปรับปรุง</th>
                        <th width="690px" class="text-right">จำนวนเงิน</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="ad in vm.accuralreceipt.adjustments" ui-sref="accuralreceipt.view({ accuralreceiptId: accuralreceipt._id })">
                        <td><strong>{{$index +1}}</strong></td>
                        <td>
                          <div><strong>{{ad.paid.typepaid}}</strong></div>
                          <!--<small>{{accuralreceipt.product.description}}</small>-->
                        </td>
                        <td class="text-right">{{ad.paid.total | number:2}}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="no-line text-left"></td>
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line text-center"></td>
                    </tr>
                  </tbody>
                </table>
                <table class="table invoice-total" ng-show="vm.accuralreceipt.adjustments.length > 0">
                  <tbody>
                    <tr ng-show="vm.accuralreceipt.billamount > 0">
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line text-right"><strong>รวม</strong></td>
                      <td class="no-line text-center">{{vm.accuralreceipt.billamount | number:2}}</td>
                    </tr>
                  </tbody>
                </table>
                <table class="table invoice-total">
                  <tbody>
                    <tr ng-show="vm.accuralreceipt.adjustamount > 0">
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line text-right"><strong>รวมรายการปรับปรุง</strong></td>
                      <td class="no-line text-center">{{vm.accuralreceipt.adjustamount | number:2 || 0}}</td>
                    </tr>
                  </tbody>
                </table>
                <table class="table invoice-total">
                  <tbody>
                    <tr ng-show="vm.accuralreceipt.totalamount > 0">
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line text-right"><strong>รวมสุทธิ</strong></td>
                      <td class="no-line text-center">{{vm.accuralreceipt.totalamount | number:2 || 0}}</td>
                    </tr>
                  </tbody>
                </table>

                <table class="table">
                  <tbody>
                    <tr>
                      <td class="no-line text-left"></td>
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line text-center"></td>
                    </tr>
                  </tbody>
                </table>
                <div class="row marginT">
                  <div class="col-md-4 text-right">
                    <span>รับเอกสาร</span>
                  </div>
                  <div class="col-md-2 borderBTMT">

                  </div>
                  <div class="col-md-4 text-right">
                    <span>ผู้บันทึกเอกสาร</span>
                  </div>
                  <div class="col-md-2 borderBTMT">

                  </div>
                </div>
                <div class="row marginT">
                  <div class="col-md-4 text-right">
                    <span>วันที่</span>
                  </div>
                  <div class="col-md-2 borderBTMT">

                  </div>
                  <div class="col-md-4 text-right">
                    <span>วันที่</span>
                  </div>
                  <div class="col-md-2 borderBTMT">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>