

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    height: 315px;  
    margin-bottom: 10px;
}

.fb-profile1 img.fb-image-lg1{
    z-index: 0;
   width: 100%;
    height: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin:-160px 10px 0px 50px;
    z-index: 9;
      width: 180px;
    height: 180px;  
}
.fb-image-profile1
{
    margin:-45px 10px 0px 25px;
    z-index: 9;
      width: 80px;
    height: 80px;  
}



@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-profile-text1>h1{
    font-weight: 500;
    font-size:12px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}




.color-tab-active{
    background: #1fa67a; 
}
/* ==========================================================================
   Author's panel list
   ========================================================================== */

.material-tab {
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 0px;
  padding: 0 50px;
}

.header-inner {
  padding: 15px 0;
  max-width: 960px;
  margin: 0 auto;
}

.tab-header {
  background: #1fa67a;
  padding: 0 15px;
  color: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
  box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
}

.nav.nav-tabs > li > a:focus, .nav.nav-tabs > li > a:hover {
  background: transparent;
  outline: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:active {
  background: transparent;
  /*color: #FFF;*/
  cursor: default;
  border: 0;
}

.nav-tabs>li>a {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  border: 0px;
  font-weight: bold;
  padding: 12px 15px 14px 15px;
}

.nav-tabs>li >a:hover {
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
}

ul.nav-tabs>li.active>a:after {
  display: block;
  /*content: '';*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: white;
  /*margin-right: 0px !important;*/
}

.tab-content.white-bg-tabs {
  padding: 15px;
}

.tab-content.white-bg-tabs .tab-pane {
  max-width: 960px;
  margin: 0 auto;
  background: white;
  padding: 10px;
 
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #ddd;
}
.tab-head-align {
  margin-left: -10px;
  
}
.tab-head-color {
  background: cadetblue;
  
}
}




