<div class="ibox" ng-controller="AuthenticationController">
  <div class="ibox-content">
    <div class="row">
      <h3 class="col-md-12 text-center">Or sign up using your email</h3>

      <div class="col-xs-12 col-md-12">
        <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
          <fieldset>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <!-- <div class="form-group" show-errors>
                  <label for="firstName">First Name</label>
                  <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name"
                    required>

                  <div ng-messages="userForm.firstName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">First name is required.</p>
                  </div>
                </div> -->
                <!-- <div class="form-group" show-errors>
                  <label for="lastName">Last Name</label>
                  <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name"
                    required>

                  <div ng-messages="userForm.lastName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Last name is required.</p>
                  </div>
                </div> -->
                <!-- <div class="form-group" show-errors>
                  <label for="postcode">Post Code</label>
                  <input type="text" id="postcode" name="postcode" class="form-control" autocomplete="false" typeahead="postcode" ng-model="credentials.address.postcode"
                    typeahead-callback="callback" ng-change="checkAutocomplete(credentials.address.postcode)" placeholder="Post Code"
                    required>

                  <div ng-messages="userForm.postcode.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Post Code is required.</p>
                  </div>
                </div> -->
                <!-- <div class="form-group" show-errors>
                  <label for="subdistrict">Sub District</label>
                  <input type="text" id="subdistrict" name="subdistrict" class="form-control" ng-model="credentials.address.subdistrict" placeholder="Sub District"
                    required>

                  <div ng-messages="userForm.subdistrict.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Sub District is required.</p>
                  </div>
                </div> -->
                <!-- <div class="form-group" show-errors>
                  <label for="district">District</label>
                  <input type="text" id="district" name="district" class="form-control" ng-model="credentials.address.district" placeholder="District"
                    required>

                  <div ng-messages="userForm.district.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">District is required.</p>
                  </div>
                </div> -->
                <!-- <div class="form-group" show-errors>
                  <label for="province">Province</label>
                  <input type="text" id="province" name="province" class="form-control" ng-model="credentials.address.province" placeholder="Province"
                    required>

                  <div ng-messages="userForm.province.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Province is required.</p>
                  </div>
                </div> -->
              </div>
              <div class="col-xs-12 col-md-6">
                <!-- <div class="form-group" show-errors>
                  <label for="address">Address</label>
                  <input type="text" id="address" name="address" class="form-control" ng-model="credentials.address.address" placeholder="Address"
                    required>

                  <div ng-messages="userForm.address.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Address is required.</p>
                  </div>
                </div> -->
                <!-- <div class="form-group" show-errors>
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase
                    required>

                  <div ng-messages="userForm.email.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Email address is required.</p>
                    <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                  </div>
                </div> -->
                <!-- <div class="form-group" show-errors>
                  <label for="tel">Tel</label>
                  <input type="text" id="tel" name="tel" class="form-control" ng-model="credentials.address.tel" placeholder="Tel" required>

                  <div ng-messages="userForm.tel.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Tel address is required.</p>
                  </div>
                </div> -->
                <div class="form-group" show-errors>
                  <label for="username">Username</label>
                  <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username"
                    lowercase required>

                  <div ng-messages="userForm.username.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Username is required.</p>
                  </div>
                </div>
                <!-- <div class="form-group" show-errors>
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password"
                    popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>

                  <div ng-messages="userForm.password.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Password is required.</p>

                    <div ng-repeat="passwordError in passwordErrors">
                      <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
                    </div>
                  </div>
                </div> -->
                <!--<div class="form-group" ng-show="userForm.password.$error.required">
                  <label>Password Requirements</label>
                  <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
                </div>-->
               
                  <!--<input type="radio" ng-model="role" ng-checked="true" value="user">User-->
                  <!--<input type="radio" ng-model="role" ng-checked="true" value="deliver">Deliver
                  <input type="radio" ng-model="role" value="transporter">Transporter-->
                </div>
                <div class="min-height-20"></div>
                <div class="text-center form-group">
                  <!--<button type="button" class="btn btn-primary" ng-click="signupDumper()">Invester</button>-->
                  <button type="submit" class="btn btn-primary">Sign up</button> &nbsp; or&nbsp;
                  <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
                </div>
                <div ng-show="error" class="text-center text-danger">
                  <strong ng-bind="error"></strong>
                </div>
              </div>
            </div>



          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>